table{
    border: 0px solid #ccc;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 7px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
}

body{
    background-image: url('5k-planet-minimalist-8s.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.content{
    background-color: rgba(255, 255, 255, 0.5);
}

.submitform{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.backgroundvideo{
    position: fixed;
    z-index: -100; 
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.galaxyvideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header{
    text-align: center;
    height: 50%;
    font-size: 40px;
}

@media (min-aspect-ratio: 16/9){
    .galaxyvideo{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .galaxyvideo{
        width: auto;
        height: 100%;
    }
}

table tr{
    border: 0px solid #ddd;
    padding: 5px;
}

td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th{
    background-color: rgb(117, 0, 121);
    border: 0px;
}

tr:nth-child(even),table.list thead>tr {
    background-color: #ddddddab;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: center;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}

[class*="col-"]{
    width: 100%;
}

@media only screen and (min-width: 600px){
    /*For tablets: (ukuran layar lebih besar dari 600px) */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


.black{
    background-color: black;
}

.white{
    background-color: white;
}

.font-white{
    color: white;
}

.formcontainer{
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 50px;
}



.greeting{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.greeting h1{
    text-align: center;
    font-size: 6rem;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
}

.editbutton{
    width: 70px;
    height: 30px;
    outline: none;
    cursor: pointer;
    background: #FBC02D;
    transition: .5s;
    font-size: 17px;
    border-radius: 5px;
    font-family: "Lato",sans-serif;
    margin-bottom: 5px;
}

.editbutton:hover{
    border: #FBC02D;
    color: white;
    font-size: 19px;
    transform:scale(1.1);
}

.deletebutton{
    width: 70px;
    height: 30px;
    outline: none;
    cursor: pointer;
    background: rgba(209, 0, 0, 0.973);
    transition: .5s;
    font-size: 17px;
    border-radius: 5px;
    font-family: "Lato",sans-serif;
}

.deletebutton:hover{
    border: rgba(209, 0, 0, 0.973);
    color: white;
    font-size: 19px;
    transform:scale(1.1);
}

.modalbox{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.modalboxcontent{
    background-color: white;
    padding: 10px;
    width: 30%;
    display: flex;
    border-radius: 7px;
}

.modalclose{
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

input[type=submit] {
    width: 50%;
    background-color:rgb(117, 0, 121);
    color: white;
    padding: 14px 20px;
    margin-left: 25%;
    margin-right:25%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }

  .closemodal{
    cursor: pointer;
  }
  

.alertdelete{
    background-color: rgb(0, 255, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    border-radius: 5px;
}

.alertedit{
    background-color: rgb(0, 255, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    border-radius: 5px;
}

.alertfailedit{
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    border-radius: 5px;
}

.alertins{
    background-color: rgb(0, 255, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    border-radius: 5px;
}

.alertinsfail{
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    border-radius: 5px;
}

.boxactive{
    visibility: visible;
    opacity: 1;
}

.closedelalert{
    margin-left: 30px;
    cursor: pointer;
}

.closeedalert{
    margin-left: 30px;
    cursor: pointer;
}

.closeedfailalert{
    margin-left: 30px;
    cursor: pointer;
}

.closeinsalert{
    margin-left: 30px;
    cursor: pointer;
}

.closeinsfailalert{
    margin-left: 30px;
    cursor: pointer;
}


